<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="mynugetlibraryfeed" value="https://pkgs.dev.azure.com/vedatdikgoz/deneme.project/_packaging/mynugetlibraryfeed/nuget/v3/index.json" />
		<add key="local" value="/home/vsts/work/1/Nuget/packages" />
	</packageSources>
</configuration>